.hero-section{
    background-image: url(img/banner.png);
    width: 100%;
    max-height: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
.item{
    border-bottom:solid 3px #1DD100;
}
main ,.main { 
    max-width: 1100px;
    margin: 0 auto;
}
.lastcontainer{
    border-top: solid 4px #1DD100;
    border-radius: 50px;
}
.line{
    height: 250px;
}
hr{
    border: dashed 1px rgba(96, 94, 94, 0.626);
}

.dynamic{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.cupon2{
    
    background-image: url(img/Rectangle\ 8\ \(2\).png);

}
.cupon1{
    background-image: url(img/Rectangle\ 8\ \(1\).png)
}
.cupon{
    
    width: 100%;

    height: 170px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
